# grafana/provisioning/datasources/datasources.yaml
apiVersion: 1

datasources:
  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    isDefault: false
    jsonData:
      tracesToLogs:
        datasourceUid: loki
        spanStartTimeShift: "-10m"
        spanEndTimeShift: "10m"
        tags:
          - "service.name"
          - "deployment.environment"

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100

  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090